!!! 5
%html{lang: 'en'}
  %head
    %title= "LC4 Simulator"
    %meta{'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1'}
    %link{rel: 'stylesheet', href: 'css/app.css'}
    %link{rel: 'shortcut icon', href: 'assets/favicon.png'}
    %script{type: 'text/javascript', src: 'js/lib/jquery-1.8.3.js'}
    %script{type: 'text/javascript', src: 'demo.js'}
    %script{type: 'text/javascript', src: 'aux.js'}
    %script{type: 'text/javascript', src: 'http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js', charset: 'utf-8'}
    %script{src: 'https://api.filepicker.io/v1/filepicker.js'}

  %body
    .header
      .container
        %h1 LC4 Simulator
    .main.container-fluid
      .row
        .box.span8#console
          %h4.title PennSim Console
          %input.console-input{type: :text, name: "console-input"}
          %span.prompt &gt;
          %pre.console-output
            :preserve
              Assembly completed without errors or warnings
              Register PC updated to value x0000

        .box.span6#debugger
          %h4.title
            Debugger
            .debugger-state Stopped
          .button#continue
            Continue
          .button#next
            Next
          .button#step
            Step
          .button#stop
            Stop
          .button#finish
            Finish
          .button#reset
            Reset

      .row
        .box.span8#source
          %h4.title
            Source
            .button.upload
              Load file
              %img{src: 'assets/upload.png'}
          #editor.placeholder
            :preserve
              Load an assembly file
              to run the simulator

        .box.span6#registers
          %h4.title Registers
          .register
            .name R0
            #R0.value x0000
          .register
            .name R1
            #R1.value x0000
          .register
            .name R2
            #R2.value x0000
          .register
            .name R3
            #R3.value x0000
          .register
            .name R4
            #R4.value x0000
          .register
            .name R5
            #R5.value x0000
          .register
            .name R6
            #R6.value x0000
          .register
            .name R7
            #R7.value x0000

        .box.span2#memory
          %h4.title Memory
          .table
            .entry
              .address x0000
              .value   NOP
            .entry
              .address x0001
              .value   NOP
            .entry
              .address x0002
              .value   NOP
            .entry
              .address x0003
              .value   NOP
            .entry
              .address x0004
              .value   NOP
            .entry
              .address x0005
              .value   NOP
            .entry
              .address x0006
              .value   NOP
            .entry
              .address x0007
              .value   NOP
            .entry
              .address x0008
              .value   NOP
            .entry
              .address x0009
              .value   NOP
            .entry
              .address x000a
              .value   NOP
            .entry
              .address x000b
              .value   NOP
            .entry
              .address x000c
              .value   NOP
            .entry
              .address x000d
              .value   NOP
            .entry
              .address x000e
              .value   NOP
            .entry
              .address x000f
              .value   NOP

        .box.span3#video
          %h4.title Video Display
          .display

        .box.span3#ascii
          %h4.title ASCII Display

